##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [7]:
#Code goes here
mahasiswa=""

2. > Create a variable containing your name (Points : 5)

In [8]:
#Code goes here
nama_mahasiswa="athariq"

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [9]:
#Code goes here
ruang_kelas=["papan tulis","spidol","buku","laptop","pulpen"]

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [10]:
#Code goes here
universitas = {
  "Jurusan":"Teknik Elektro",
  "Program_Studi":["D4 Teknik Telekomunikasi","D4 Teknik Komputer dan Jaringan", "D4 Teknik Multimedia dan Jaringan"]
}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [11]:
#Code goes here

# Pelanggan membeli 20 buah barang elecktronik dan mendapat diskon 10%

price=12000
quantity_sold=20
discount=0.1

totalprice=price*quantity_sold
totaldiscount=totalprice*discount
totalpayment=totalprice-totaldiscount

print(totalpayment)

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [12]:
# Create list of countries in the world (total 7 countries) (Points : 5)

#Code goes here
contries=["Indonesia","Thailand","Malysia","Singapore","Jepang","Korea","Cina"]

In [13]:
# Get 4 countries from the first index of the list (Points : 5)

#Code goes here
contries[:4]

['Indonesia', 'Thailand', 'Malysia', 'Singapore']

In [14]:
# Append new country to the list (Points : 5)

#Code goes here
contries.append("Vietnam")
print(contries)

['Indonesia', 'Thailand', 'Malysia', 'Singapore', 'Jepang', 'Korea', 'Cina', 'Vietnam']

In [15]:
# Drop one country from the list (Points : 5)

#Code goes here
contries.remove("Vietnam")
print(contries)

['Indonesia', 'Thailand', 'Malysia', 'Singapore', 'Jepang', 'Korea', 'Cina']

In [16]:
# Get country in the last index (Points : 5)

#Code goes here
contries[6]

'Cina'

# Dictionary Data Operation

6. >  Follow the instructions below

In [17]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [18]:
# Print all keys in customer (Points : 5)

#Code goes here
customer.keys()

dict_keys(['name', 'age', 'gender', 'membership'])

In [19]:
# Print all customer names (Points : 5)

#Code goes here
customer.get("name")

['Dio', 'Eka', 'Wayu', 'Riki']

In [20]:
# Print the first customer name (Points : 5)

#Code goes here
customer["name"][0]

'Dio'

In [21]:
# Drop "age" key from the dictionary (Points : 5)

#Code goes here
del customer["age"]
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': [1, 0, 0, 1], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [27]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 

#Code goes here
for i in range(len(customer["gender"])):

  # replace gender 1 with male
  if customer["gender"][i] == 1 :
    customer["gender"][i] = "Male"

  # replace gender 0 with female
  if customer["gender"][i] == 0 :
    customer["gender"][i] = "Female"

print(customer)
print(customer["gender"])

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': ['Male', 'Female', 'Female', 'Male'], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}
['Male', 'Female', 'Female', 'Male']